@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
:root{
    --bg :#332f35;
    --fg : lighten(var(--bg),20%);
    --border-width:3px;
    --heading-font:'Fasthand', cursive;
}
body{
    background-image: url(https://img.freepik.com/free-vector/top-view-cup-coffee-with-roasted-beans_52683-32340.jpg?w=740&t=st=1666871571~exp=1666872171~hmac=d4033f78bf59baef4ab164dcfb8a2d93cf5097e87cbc9ae834f5df5908c67244);
    background-size: cover;
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    width:900px;
    height:400px;
    margin:auto;
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: rgba(45,50,39,0.3);
    backdrop-filter: blur(8px);
    height: 400px;
    width: 250px;
    border-radius: 1.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width:95%;
    height:150px;
    margin: 5px 5px;
    border-radius: 20px;
    background-size: cover;
}
h2{
    font-family:var(--heading-font);
    font-size: 2.5em;
    color:#480F0F;
    text-align: center;
    margin:0 16px;
}
h3{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #F96666;
    margin:auto 0;
}
.btn{
    display: inline-block;
    padding:10px 25px;
    margin: 10px 40px;
    background-color: #F96666;
    border: none;
    border-radius: 20px;
    color: white;
    font-size:medium;
    cursor: pointer;
}
.btn:hover{
    transform: translateY(-10px);
    transition: 0.3s ease-out;
}
.btn:active{
    transform: scale(0.8);
    transition:  ease-out;
}
.radio-group
{
    display:flex;
    flex-direction: column;
    color: #FFF;
}  
.cart{
    background-color:rgba(45,50,39,0.2) ;
    backdrop-filter: blur(5px);
    margin: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
}
h1{
    font-family:var(--heading-font);
    color:#480F0F;
    font-size: 3em;
    margin-top: 150px;
    text-align: center;
}
.payout-list{
    list-style: none;
}
li{
    background-color: rgba(245,250,239,0.3) ;
    border-radius: 10px;
    margin: 5px 10px;
    padding : 10px 5px;
}
.total-price{
    height: 100px;
    background-color: rgba(45,50,39,0.8) ;
    border-radius:10px ;
    margin: 0 20px;
    color:#480F0F;
    font-size: 50px;
    padding:25px;
}
.buy-btn{
    border-radius: 10px;
    border:none;
}
.buy-btn:hover{
    background-color:rgba(30,237,45,0.5);
}
.buy-btn:active{
    transform: translateY(10px);
    transform: scale(0.8);
}
.remove-btn{
    background-color: rgba(245,250,239,0.31);
    padding:5px 8px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
}